* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body .wrapper {
  display: -ms-grid;
  display: grid;
  height: 100vh;
  width: 100vw;
  font-family: "Quicksand", sans-serif;
  font-size: 1.2rem;
  /* header */
  /* nav */
  /* main */
  /* footer */
}

@media screen and (min-width: 1281px) {
  body .wrapper {
    -ms-grid-columns: 1fr 5fr;
        grid-template-columns: 1fr 5fr;
    -ms-grid-rows: 18vh 70vh 10vh;
        grid-template-rows: 18vh 70vh 10vh;
    grid-gap: 2px;
        grid-template-areas: "header header" "nav main" "footer footer";
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1280px) {
  body .wrapper {
    -ms-grid-columns: 1fr 4fr;
        grid-template-columns: 1fr 4fr;
    -ms-grid-rows: 18vh 70vh 10vh;
        grid-template-rows: 18vh 70vh 10vh;
    grid-gap: 2px;
        grid-template-areas: "header header" "nav main" "footer footer";
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  body .wrapper {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 10vh 10vh 70vh 10vh;
        grid-template-rows: 10vh 10vh 70vh 10vh;
    grid-gap: 2px;
        grid-template-areas: "header" "nav" "main" "footer";
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  body .wrapper {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 10vh 10vh 70vh 10vh;
        grid-template-rows: 10vh 10vh 70vh 10vh;
    grid-gap: 2px;
        grid-template-areas: "header" "nav" "main" "footer";
  }
}

@media screen and (min-width: 481px) and (max-width: 767px) {
  body .wrapper {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 10vh 10vh 70vh 10vh;
        grid-template-rows: 10vh 10vh 70vh 10vh;
    grid-gap: 2px;
        grid-template-areas: "header" "nav" "main" "footer";
  }
}

@media screen and (min-width: 50px) and (max-width: 480px) {
  body .wrapper {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 10vh 10vh 70vh 10vh;
        grid-template-rows: 10vh 10vh 70vh 10vh;
    grid-gap: 2px;
        grid-template-areas: "header" "nav" "main" "footer";
  }
}

body .wrapper header {
  grid-area: header;
  position: absolute;
}

body .wrapper header div {
  position: relative;
  top: 25px;
  left: 15vw;
}

body .wrapper header div svg {
  width: 18vh;
}

body .wrapper header div svg #path1037 {
  -webkit-animation: svgAnimation 10s ease-in-out infinite;
          animation: svgAnimation 10s ease-in-out infinite;
}

body .wrapper nav {
  grid-area: nav;
  background-color: rgba(255, 255, 255, 0.151);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

body .wrapper nav ul {
  position: absolute;
  left: 25px;
  list-style: none;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

body .wrapper nav ul:hover li {
  /*           opacity: 0.5;
 */
  cursor: pointer;
  /*           transform: translateX(-3px);
 */
}

body .wrapper nav ul li {
  padding: 35px 0;
  display: inline-block;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  /*  &:hover {
            opacity: 1;
            transform: translateX(3px);
          } */
}

body .wrapper nav ul li img {
  width: 35px;
}

@media (min-width: 1025px) {
  body .wrapper nav ul li {
    display: block;
    -webkit-writing-mode: tb-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: tb-rl;
  }
}

body .wrapper nav ul li a {
  text-decoration: none;
  color: black;
}

body .wrapper main {
  grid-area: main;
  background-color: rgba(255, 255, 255, 0.151);
}

body .wrapper footer {
  grid-area: footer;
  background-color: rgba(255, 255, 255, 0.151);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 1rem;
}

body .wrapper footer p {
  position: absolute;
  bottom: 10px;
}

.navLeft {
  opacity: .5;
  -webkit-transform: translateX(-3px);
          transform: translateX(-3px);
}

.Left {
  opacity: .5;
  -webkit-transform: translateX(-3px);
          transform: translateX(-3px);
}

.navRight {
  opacity: 1;
  -webkit-transform: translateX(3px);
          transform: translateX(3px);
}

@-webkit-keyframes svgAnimation {
  0% {
    stroke-dasharray: 2994;
    stroke-dashoffset: 5973;
  }
  50% {
    stroke-dasharray: 3000;
    stroke-dashoffset: 4000;
  }
  100% {
    stroke-dasharray: 2994;
    stroke-dashoffset: 5973;
  }
}

@keyframes svgAnimation {
  0% {
    stroke-dasharray: 2994;
    stroke-dashoffset: 5973;
  }
  50% {
    stroke-dasharray: 3000;
    stroke-dashoffset: 4000;
  }
  100% {
    stroke-dasharray: 2994;
    stroke-dashoffset: 5973;
  }
}
