main {
  overflow-y: scroll;
  overflow-x: hidden;
}

main .containGallery {
  line-height: 0;
  -webkit-column-count: 4;
          column-count: 4;
  -webkit-column-gap: 1px;
          column-gap: 1px;
  margin-top: 15vh;
  margin-right: 2vh;
}

main .containGallery img {
  margin: 1px 1px 1px 1px;
  width: 100%;
  height: auto;
}

#element::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  display: none;
}
