.slider {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
  opacity: .8;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.4s easy-in-out;
  transition: opacity 0.4s easy-in-out;
}

.slide.current {
  opacity: 1;
}

.buttons button {
  border: 2px solid rgba(255, 255, 255, 0.226);
  background-color: transparent;
  color: rgba(255, 255, 255, 0.192);
  cursor: pointer;
  padding: 8px 10px;
  border-radius: 50%;
  outline: none;
}

.buttons button:hover {
  background-color: rgba(255, 255, 255, 0.137);
  color: rgba(0, 0, 0, 0.356);
}

.buttons button#next {
  position: absolute;
  top: 50%;
  right: 2vw;
}

.buttons button#prev {
  position: absolute;
  top: 50%;
  right: 75vw;
}

@media screen and (min-width: 50px) and (max-width: 1024px) {
  .buttons button#prev {
    right: 92vw;
  }
}

.indexSlider {
  position: absolute;
  top: 85%;
  right: 50vw;
}

.indexSlider section {
  opacity: .7;
  height: 10px;
  width: 10px;
  border: 1px solid #2e2c2c;
  background-color: rgba(187, 187, 187, 0.233);
  border-radius: 50%;
  display: inline-block;
}

/* background images */
.slide:first-child {
  background: url(../photos/Front/front1.jpg) no-repeat center center/cover;
}

.slide:nth-child(2) {
  background: url(../photos/Front/front2.png) no-repeat center center/cover;
}

.slide:nth-child(3) {
  background: url(../photos/Front/front3.png) no-repeat center center/cover;
}

.slide:nth-child(4) {
  background: url(../photos/Front/front4.jpg) no-repeat center center/cover;
}

.slide:nth-child(5) {
  background: url(../photos/Front/front6.jpg) no-repeat center center/cover;
}

.slide:nth-child(6) {
  background: url(../photos/Front/front8.jpg) no-repeat center center/cover;
}
