.loadwrapper {
  -webkit-animation: loadwrapperAnimation 1s ease-in-out;
          animation: loadwrapperAnimation 1s ease-in-out;
}

.loadnav {
  -webkit-animation: loadnavAnimation 1s ease-in-out;
          animation: loadnavAnimation 1s ease-in-out;
}

.loadmain {
  -webkit-animation: loadmainAnimation 1s ease-in-out;
          animation: loadmainAnimation 1s ease-in-out;
}

.loadfooter {
  -webkit-animation: loadfooterAnimation 1.5s ease-in-out;
          animation: loadfooterAnimation 1.5s ease-in-out;
}

@-webkit-keyframes loadwrapperAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes loadwrapperAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes loadnavAnimation {
  from {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes loadnavAnimation {
  from {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}

@-webkit-keyframes loadmainAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes loadmainAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes loadfooterAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes loadfooterAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
