$backgroundColor: white;
$gridBackgroundColor: rgba(255, 255, 255, 0.151);
$fontColor: rgba(39, 38, 38, 0.562);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  .wrapper {
    display: grid;
    height: 100vh;
    width: 100vw;
    font-family: "Quicksand", sans-serif;
    font-size: 1.2rem;

    @media screen and (min-width: 1281px) {
      grid-template-columns: 0.5fr 8fr;
      grid-template-rows: 18vh 72vh 10vh;
      grid-template-areas: "header header" "nav main" "footer footer";
      font-size: 1.3rem;
    }

    @media screen and (min-width: 1025px) and (max-width: 1280px) {
      grid-template-columns: 1fr 4fr;
      grid-template-rows: 18vh 72vh 10vh;
      grid-template-areas: "header header" "nav main" "footer footer";
      font-size: 1.4rem;
    }

    @media screen and (min-width: 768px) and (max-width: 1024px) {
      grid-template-columns: 1fr;
      grid-template-rows: 10vh 10vh 70vh 10vh;
      grid-gap: 25px;
      grid-template-areas: "header" "nav" "main" "footer";
      font-size: 1.1rem;
    }

    @media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
      grid-template-columns: 1fr;
      grid-template-rows: 10vh 10vh 70vh 10vh;
      grid-gap: 25px;

      grid-template-areas: "header" "nav" "main" "footer";
      font-size: 1.2rem;
    }

    @media screen and (min-width: 481px) and (max-width: 767px) {
      grid-template-columns: 1fr;
      grid-template-rows: 10vh 10vh 70vh 10vh;
      grid-gap: 25px;

      grid-template-areas: "header" "nav" "main" "footer";
      font-size: 1rem;
    }

    @media screen and (min-width: 50px) and (max-width: 480px) {
      grid-template-columns: 1fr;
      grid-template-rows: 10vh 10vh 70vh 10vh;
      grid-gap: 25x;
      grid-template-areas: "header" "nav" "main" "footer";
      font-size: 1em;
    }

    /* header */
    header {
      grid-area: header;
      position: absolute;
      div {
        position: relative;
        top: 20px;
        left: 8vw;
        svg {
          width: 18vh;
          #path1037 {
            animation: svgAnimation 10s ease-in-out infinite;
          }
        }
      }
    }

    /* nav */
    nav {
      grid-area: nav;
      background-color: $gridBackgroundColor;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      ul {
        position: absolute;
        left: 25px;
        list-style: none;
        transition: all 0.4s ease-in-out;

        &:hover li {
          cursor: pointer;
        }

        @media (max-width: 1024px) {
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
        }

        li {
          img {
            transform: rotate(90deg);
            width: 35px;
          }
          opacity: 0.8;
          padding: 20px 0;
          display: inline-block;
          transition: all 0.4s ease-in-out;

          @media (min-width: 1025px) {
            display: block;
            writing-mode: tb-rl;
          }

          a {
            text-decoration: none;
            opacity: 0.8;
            color: rgb(75, 75, 75);
          }
        }
      }
    }

    /* main */
    main {
      grid-area: main;
      background-color: $gridBackgroundColor;
    }

    /* footer */
    footer {
      grid-area: footer;
      background-color: $gridBackgroundColor;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      img {
        position: absolute;
        bottom: 10px;
        right: 2vw;

        width: 22px;
      }

      p {
        position: absolute;
        bottom: 10px;
        right: 7vw;
        font-size: 0.8rem;
        color: $fontColor;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

.navLeft {
  transform: translateX(-3px);
}
.Left {
  transform: translateX(-3px);
}
.navRight {
  transform: translateX(+3px);
}

.hide {
  opacity: 0.4;
}

@keyframes svgAnimation {
  0% {
    stroke-dasharray: 2994;
    stroke-dashoffset: 5973;
  }
  50% {
    stroke-dasharray: 3000;
    stroke-dashoffset: 4000;
  }
  100% {
    stroke-dasharray: 2994;
    stroke-dashoffset: 5973;
  }
}
