$backgroundColor: white;
$gridBackgroundColor: rgba(255, 255, 255, 0.151);
$fontColor: black;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  .wrapper {
    display: grid;
    height: 100vh;
    width: 100vw;
    font-family: "Quicksand", sans-serif;
    font-size: 1.2rem;

    @media screen and (min-width: 1281px) {
      grid-template-columns: 1fr 5fr;
      grid-template-rows: 18vh 70vh 10vh;
      grid-gap: 2px;
      grid-template-areas: "header header" "nav main" "footer footer";
      font-size: 1.5rem;
    }

    @media screen and (min-width: 1025px) and (max-width: 1280px) {
      grid-template-columns: 1fr 4fr;
      grid-template-rows: 18vh 70vh 10vh;
      grid-gap: 2px;
      grid-template-areas: "header header" "nav main" "footer footer";
    }

    @media screen and (min-width: 768px) and (max-width: 1024px) {
      grid-template-columns: 1fr;
      grid-template-rows: 10vh 10vh 70vh 10vh;
      grid-gap: 2px;
      grid-template-areas: "header" "nav" "main" "footer";
    }

    @media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
      grid-template-columns: 1fr;
      grid-template-rows: 10vh 10vh 70vh 10vh;
      grid-gap: 2px;
      grid-template-areas: "header" "nav" "main" "footer";
    }

    @media screen and (min-width: 481px) and (max-width: 767px) {
      grid-template-columns: 1fr;
      grid-template-rows: 10vh 10vh 70vh 10vh;
      grid-gap: 2px;
      grid-template-areas: "header" "nav" "main" "footer";
    }

    @media screen and (min-width: 50px) and (max-width: 480px) {
      grid-template-columns: 1fr;
      grid-template-rows: 10vh 10vh 70vh 10vh;
      grid-gap: 2px;
      grid-template-areas: "header" "nav" "main" "footer";
    }

    /* header */
    header {
      grid-area: header;
      position: absolute;
      div {
        position: relative;
        top: 25px;
        left: 15vw;
        svg {
          width: 18vh;
          #path1037 {
            animation: svgAnimation 10s ease-in-out infinite;
          }
        }
      }
    }

    /* nav */
    nav {
      grid-area: nav;
      background-color: $gridBackgroundColor;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      ul {
        position: absolute;
        left:25px;
        list-style: none;
        transition: all 0.4s ease-in-out;

        &:hover li {
/*           opacity: 0.5;
 */          cursor: pointer;
/*           transform: translateX(-3px);
 */        }
        li {
          img{
            width:35px;
          }
          padding: 35px 0;
          display: inline-block;
          transition: all 0.4s ease-in-out;
         /*  &:hover {
            opacity: 1;
            transform: translateX(3px);
          } */
          @media (min-width: 1025px) {
            display: block;
            writing-mode: tb-rl;
          }
          a {
            text-decoration: none;
            color: $fontColor;
          }
        }
      }
    }

    /* main */
    main {
      grid-area: main;
      background-color: $gridBackgroundColor;
    }

    /* footer */
    footer {
      grid-area: footer;
      background-color: $gridBackgroundColor;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-size: 1rem;
      img{
        width:1vw;
      }
    }
  }
}


.navLeft{
opacity: .5;
transform:translateX(-3px);
}
.Left{
  opacity: .5;
  transform:translateX(-3px);
  }
.navRight{
  opacity: 1;
  transform:translateX(+3px);
}

@keyframes svgAnimation {
  0% {
    stroke-dasharray: 2994;
    stroke-dashoffset: 5973;
  }
  50% {
    stroke-dasharray: 3000;
    stroke-dashoffset: 4000;
  }
  100% {
    stroke-dasharray: 2994;
    stroke-dashoffset: 5973;   
  }
}
