.loadwrapper{
animation: loadwrapperAnimation 1s ease-in-out;
}
.loadnav{
    animation: loadnavAnimation 1s ease-in-out;

}
.loadmain{
    animation: loadmainAnimation 1s ease-in-out;

}
.loadfooter{
    animation: loadfooterAnimation 1.5s ease-in-out;

}

@keyframes loadwrapperAnimation{
from{opacity:0;}
to {opacity:1}
}


@keyframes loadnavAnimation{
from {transform: translateX(-100px);
opacity:0;}
to {transform: translateX(0px);opacity:1;}
}

@keyframes loadmainAnimation{
    from{opacity:0}
to {opacity:1}
}

@keyframes loadfooterAnimation{
    from{opacity:0}
    to {opacity:1}
}